%html

  %head
    %script{:src=>"javascript/jquery.js", :type=>"text/javascript"}
    %title Payment Gateway
  %body
    
    %h1
    - if(@result)
      Your payment is successful
    - else
      Your payment is failed.
    %h2
      Redirection to merchant website....
    %form#redirectForm{:action => "#{@post_url}", :method => "POST"}
      %input{:type=>"hidden", :name=>"order_id", :value=>"#{@order_id}"}
      %input{:type=>"hidden", :name=>"result", :value=>"#{@result_val}"}
      
:javascript   
  $(function() {
    setTimeout(redirect, 5000);
     
    function redirect() {
      $('#redirectForm').submit();
    } 
  });